@page
@model DOAN.Pages.HangTonModel
@using ENTITIES

<h4>Hàng Tồn</h4>
<br>
<a href="index"><button type="button">Index</button></a>
<br>
<br>
<table>
    <tr>
        <td>Loại Hàng</td>
        <td>Số lượng tồn</td>
    </tr>
    @foreach (string lh in Model.dsLoaiHang)
    {
        int tong = 0;
        for (int i = 0; i < Model.dsMatHang.Count; i++)
        {
            if (Model.dsMatHang[i].loaiHang == lh)
            {
                tong = tong + Model.dsMatHang[i].ton;
            }
        }
<tr>
    <td>@lh</td>
    <td>@tong</td>
</tr>}
</table>
