@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>Quản lý loại hàng</h4>
<a href="LoaiHang"><button type="button">Loại Hàng</button></a>
<h4>Quản lý Hóa Đơn Nhập</h4>
<a href="HoaDonNhap"><button type="button">Hóa Đơn Nhập</button></a>
<h4>Quản lý Mặt Hàng</h4>
<a href="MatHang"><button type="button">Mặt Hàng</button></a>
<h4>Quản lý Hóa Đơn Bán</h4>
<a href="HoaDonBan"><button type="button">Hóa Đơn Bán</button></a>
<h4>Thống Kê Hàng Tồn</h4>
<a href="HangTon"><button type="button">Hàng Tồn</button></a>
<h4>Thống Kê Hàng Hết Hạn</h4>
<a href="HangHetHan"><button type="button">Hàng Hết Hạn</button></a>
