@page
@model DOAN.Pages.LoaiHangModel

<h4>Loại Hàng</h4>
<form method="POST">
    <label>Nhập từ khóa</label><br>
    <input type="text" name="tuKhoa" pattern="^[^\s]+(\s+[^\s]+)*$"><br>
    <!--Regex không ký tự whitespace ở đầu và cuối-->
    <button type="submit" name="suKien" value="Tìm Kiếm">Tìm Kiếm</button>
    <button type="submit" name="suKien" value="Thêm">Thêm</button>
    <button type="submit" name="suKien" value="Sửa">Sửa</button>
    <button type="submit" name="suKien" value="Xóa">Xóa</button>
    <a href="index"><button type="button">Index</button></a>
</form>
@Model.ketQua
@if (Model.suKien == "True")
{
<form method="POST">
    <br>
    <label>Sửa loại hàng</label><br>
    <label>Tên loại hàng cũ</label>
    <input type="text" name="tuKhoa" value="@Model.tuKhoa" readonly><br>
    <label>Tên loại mới</label>
    <input type="text" name="tuKhoaMoi" pattern="^[^\s]+(\s+[^\s]+)*$" required><br>
    <button type="submit" name="suKien" value="Thay Đổi">Sửa</button>
</form>
                @Model.ketQua}
<br>
<table>
    <tr>
        <td>Loại Hàng</td>
    </tr>
    @foreach (string lh in Model.dsLoaiHang)
    {
<tr>
    <td>@lh</td>
</tr>}
</table>