@page
@model DOAN.Pages.xoaHoaDonBanModel

@if (Model.kiemTra)
{
<form method="post">
    <div>Xóa hóa đơn @Model.hoaDonBan.maHoaDon có mã hàng là @Model.hoaDonBan.maHang?</div>
    <button type="submit">Xóa</button>
</form>}
@Model.ketQua
<br>
<a href="HoaDonBan"><button type="button">Tìm Kiếm</button></a>
<a href="index"><button type="button">Index</button></a>